.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/*
.deploy*/
docs.json
_multiconfig.yml
.cache
docs/public/*
learn/public/*
reference/public/*
cli/public/*
community/public/*
databases/public/*
resources/_gen
changelog/public/*
page-data.json
