{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-2 pb-4">
    <div class="row">
      <div class="col-12">
        <div class="landing-logo"></div>
        <div class="content">
          <p>
            Modernized Database Schema Migrations
          </p>
        </div>
        <div class="button-wrapper">
          <a class="button border-button" href="https://www.youtube.com/watch?v=_fMmRgThGyA&t=3s">
            Watch Video
          </a>
          <a class="button border-button" href="/docs/concepts/about/">
            Learn More
          </a>
          <a class="button primary-button" href="/docs/installing/kubectl">
            Get Started
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="strip strip-pattern-blue pt-2 pb-2">
  <p style="width: 60%; font-size: 1.2em;">
    SchemaHero is an open-source database schema migration tool that converts a schema definition into migration scripts that can be applied in any environment. Written as both a CLI utility and a Kubernetes Operator, SchemaHero eliminates the task of creating and managing sequenced migration scripts that are compatible with all environments that an application is running in.
  </p>
</div>
<div class="pt-4 pb-4">
  <iframe width="896" height="504" src="https://www.youtube.com/embed/_fMmRgThGyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}
