@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Lora:400,700|Roboto+Mono:300,400);
*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

footer,
header,
main {
    display: block
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #303030;
    text-align: left;
    background-color: #fff
}


[tabindex="-1"]:focus {
    outline: 0 !important
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ul ul {
    margin-bottom: 0
}

small {
    font-size: 80%
}

a {
    color: #326de6;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #8daef1;
    text-decoration: underline
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

[hidden] {
    display: none !important
}

.border {
    border: 1px solid #dee2e6 !important
}

.border-left {
    border-left: 1px solid #dee2e6 !important
}

.border-0 {
    border: 0 !important
}

.border-left-0 {
    border-left: 0 !important
}

.border-primary {
    border-color: #326de6 !important
}


@supports (position:sticky) {
    .sticky-top {
        position: sticky;
        top: 0;
        z-index: 1020
    }
}


.p-0 {
    padding: 0 !important
}

.pt-0 {
    padding-top: 0 !important
}

.px-0 {
    padding-right: 0 !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.px-0 {
    padding-left: 0 !important
}

.p-1 {
    padding: 10px !important
}

.pt-1 {
    padding-top: 10px !important
}

.px-1 {
    padding-right: 10px !important
}

.pb-1 {
    padding-bottom: 10px !important
}

.px-1 {
    padding-left: 10px !important
}

.p-2 {
    padding: 20px !important
}

.pt-2 {
    padding-top: 20px !important
}

.px-2 {
    padding-right: 20px !important
}

.pb-2 {
    padding-bottom: 20px !important
}

.px-2 {
    padding-left: 20px !important
}

.p-3 {
    padding: 30px !important
}

.pt-3 {
    padding-top: 30px !important
}

.px-3 {
    padding-right: 30px !important
}

.pb-3 {
    padding-bottom: 30px !important
}

.px-3 {
    padding-left: 30px !important
}

.p-4 {
    padding: 40px !important
}

.pt-4 {
    padding-top: 40px !important
}

.px-4 {
    padding-right: 40px !important
}

.pb-4 {
    padding-bottom: 40px !important
}

.px-4 {
    padding-left: 40px !important
}

.p-5 {
    padding: 50px !important
}

.pb-5 {padding-bottom: 50px !important;}
.pb-10 {padding-bottom: 100px !important;}
.pb-15 {padding-bottom: 150px !important;}
.p-10 {padding: 100px 0 !important;}
.p-15 {padding: 150px 0 !important;}

.video-container { 
    position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.m-auto {
    margin: auto !important
}

.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.text-primary {
    color: #326de6 !important
}

a.text-primary:focus,
a.text-primary:hover {
    color: #164ab5 !important
}

.text-body {
    color: #212529 !important
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1300px) {
    .container {
        max-width: 1140px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.col-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%
}

.col-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%
}

.col-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%
}

.col-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%
}

.col-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

/*!* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers*/

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

p {
    font-family: roboto, Arial, sans-serif, -apple-system;
    font-size: 1rem;
    line-height: 1.4;
    color: #4a4949;
    font-weight: 400
}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

.page .wrapper {
    flex: 1
}

.header {
    color: #326de6;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer {
    background: #eaeaea;
    padding-top: 20px;
    padding-bottom: 20px
}

.footer .footer-title {
    color: #fff;
    font-size: 1.3rem;
    font-family: lora, Arial, sans-serif, -apple-system;
    margin-bottom: 10px;
    flex: 0
}

@media (min-width:576px) {
    .footer .footer-title {
        margin: 0;
        flex: 0 0 120px
    }
}

.footer ul.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1
}

.footer ul.footer-menu li {
    display: block;
    margin-right: 10px;
    color: #333;
    font-size: .9rem;
    line-height: 1.8
}

.footer ul.footer-menu li:last-of-type {
    margin-right: 0
}

.footer ul.footer-menu li a {
    color: #333;
    text-decoration: none
}

.footer ul.footer-menu li a:hover {
    text-decoration: underline
}

@media (min-width:576px) {
    .footer ul.footer-menu {
        height: inherit;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: flex-end
    }
    .footer ul.footer-menu li {
        list-style: none
    }
    .footer ul.footer-menu li a {
        display: inline-block;
        height: 40px;
        padding: 10px 8px;
        font-weight: 300
    }
}

.page-home .logo span {
    display: none
}

.logo {
    display: none
}

@media (min-width:576px) {
    .logo {
        display: block;
        width: 70px
    }
}

.logo span {
    width: 327px;
    height: 60px;
    background-image: url(../images/schemahero-logo.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    display: inline-block
}

@media (min-width:992px) {
    .logo span {
        background-image: url(../images/schemahero-logo.svg);
        background-repeat: no-repeat;
        background-size: 40px 40px;
        display: inline-block
    }
}

@media (min-width:1300px) {
    .logo span {
        background-image: url(../images/schemahero-small.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-block
    }
}

.logo a {
    display: block;
    width: 100%;
    height: 100%
}

.main-menu {
    display: none
}

@media (min-width:768px) {
    .main-menu {
        display: flex;
        align-items: center
    }
}

.main-menu>ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: ubuntu, sans-serif
}

.main-menu>ul>li {
    list-style: none;
    font-size: 14px
}

.main-menu>ul>li>a {
    padding: 10px 14px;
    margin-right: 15px;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color: #9b9b9b
}

.main-menu>ul>li>a:hover {
    color: #4a4a4a
}

.main-menu>ul>li:last-child>a {
    margin-right: 0
}

.main-menu-mobile {
    position: fixed;
    background: #326de6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.main-menu-mobile.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 20
}

.main-menu-mobile.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s
}

.main-menu-mobile.open li:nth-of-type(2) {
    animation-delay: .4s
}

.main-menu-mobile.open li:nth-of-type(3) {
    animation-delay: .45s
}

.main-menu-mobile.open li:nth-of-type(4) {
    animation-delay: .5s
}

.main-menu-mobile.open li:nth-of-type(5) {
    animation-delay: .55s
}

.main-menu-mobile.open li:nth-of-type(6) {
    animation-delay: .6s
}

.main-menu-mobile ul {
    font-size: 2rem;
    font-family: roboto, Arial, sans-serif, -apple-system;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 0
}

.main-menu-mobile ul li {
    display: block;
    position: relative;
    opacity: 0
}

.main-menu-mobile ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    font-weight: lighter
}

.main-menu-mobile ul li a:active::after,
.main-menu-mobile ul li a:focus::after,
.main-menu-mobile ul li a:hover::after {
    width: 100%
}

.main-menu-mobile ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: .35s
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%
    }
    100% {
        opacity: 1;
        left: 0
    }
}

.docs-menu ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.docs-menu ul li {
    font-size: .9rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
    padding: 4px 0
}

.docs-menu ul li a {
    color: #303030
}

.docs-menu ul li a:hover {
    color: #326de6
}

.docs-menu .is-page {
    padding-left: 10px
}

.button-wrapper {
    margin-top: 50px;
}

.button {
    border-radius: 0;
    min-width: 175px !important;
    margin: 0 10px 20px 10px;
    font-family: inherit;
    line-height: inherit;
    font-weight: 700;
    padding: 17px 35px !important;
    letter-spacing: 1px;
    font-size: 15px;
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: 0;
    text-transform: uppercase;
}


.button.primary-button {
    background: rgb(43,89,177);
    background: linear-gradient(0deg, rgba(43,89,177,1) 0%, rgba(80,138,252,1) 100%);
    color: #fff
}

.button.primary-button:hover {
    background: rgb(25,69,153);
    background: linear-gradient(0deg, rgba(25,69,153,1) 0%, rgba(57,115,228,1) 100%);
    text-decoration: none
}

.button.border-button {
    background-color: #fff;
    border: 1px solid #326de6;
    color: #326de6
}

.button.border-button:hover {
    border-color: #154fc6;
    color: #154fc6;
    text-decoration: none
}

.title {
    font-size: 2.7rem;
    line-height: 1.1;
    font-family: roboto, Arial, sans-serif, -apple-system;
    letter-spacing: -.2px;
    font-weight: 100;
    margin-bottom: 20px
}

@media (min-width:768px) {
    .title {
        font-size: 3rem;
        margin-bottom: 30px
    }
}

.content {
    -webkit-font-smoothing: antialiased
}

.content em {
    font-style: italic;
    font-weight: 400
}

.content ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: disc
}

.content ul li {
    margin-bottom: 5px;
    margin-left: 20px
}

.content a {
    text-decoration: underline
}

.content p {
    font-family: roboto, Arial, sans-serif, -apple-system;
    font-size: 1rem;
    line-height: 1.4;
    color: #4a4949;
    font-weight: 400
}

#particles-js {
    background: rgb(18,53,121);
    background: linear-gradient(0deg, rgba(18,53,121,1) 0%, rgba(50,109,225,1) 58%);    
    position : fixed;
    width:100%;
    height:100%;
    z-index:-1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.particle-bg p {
    color: #fff;
    width: 70%; 
    font-size: 1.2em;
    line-height: 2em;
}

canvas{
    width: 100%;
    height: 100%;
    display:block;
    vertical-align:bottom;
}


@media (max-width: 500px) {
    #particles-js p {
        width: 90%; 
    }
}

.page-home {
    text-align: center
}

.page-home .landing-logo {
    max-width: 420px;
    height: 298px;
    margin: 0 auto;
    background-image: url(../images/schemahero-large.svg);
    background-repeat: no-repeat;
    background-size: 100%
}

.page-home p {
    margin: 30px auto;
    font-family: ubuntu, sans-serif;
    font-size: 22px;
    font-weight: 500
}

.FooterContent-wrapper {

    padding: 20px 0;
    margin: 0 auto
}

.FooterItem-wrapper a:hover {
    text-decoration: underline
}

.FooterItem {
    font-size: 12px;
    padding: 0 10px;
    position: relative;
    color: #f5f8fc;
    font-weight: 700
}

.FooterItem a {
    font-size: 12px;
    position: relative;
    color: #f5f8fc;
    font-weight: 700;
    text-decoration: underline
}

.TroubleshootFooter {
    padding: 0
}

.FooterItem-wrapper:first-child .FooterItem {
    padding-left: 0
}

.FooterItem-wrapper:last-child .FooterItem {
    padding-right: 0
}

.Footer-container {
    padding: 0 20px
}

.github {
    background-image: url(../images/github.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px
}

@media screen and (min-width:35.5em) {
    .Footer-container {
        padding: 0 30px
    }
}

.u-marginTop--4 {
    margin-top: 4px
}

.flex {
    display: flex;
    flex-direction: row
}

.flex-auto {
    flex: 0 0 auto
}

.flex-1-auto {
    flex: 1 1 auto
}

.flex0 {
    flex: 0
}

.flex1 {
    flex: 1;
    min-height: 0
}

.flex1-0 {
    flex: 1 1 0
}

.flex2 {
    flex: 2
}

.flex3 {
    flex: 3
}

.flex4 {
    flex: 4
}

.flex5 {
    flex: 5
}

.justifyContent--flexEnd {
    justify-content: flex-end
}

.justifyContent--center {
    justify-content: center
}

.alignItems--center {
    align-items: center
}

.alignItems--flexEnd {
    align-items: flex-end
}

.alignSelf--center {
    align-self: center
}

.alignSelf--flexEnd {
    align-self: flex-end
}

.flex-wrap {
    flex-wrap: wrap;
    justify-content: center;
}