{{ $currentNode := . }}
<div class="docs-menu">
  <h3>
    <a href="{{ .FirstSection.Params.redirect }}">
      {{ if eq .Section "docs" }}
        Documentation
      {{ else if eq .Section "tutorial" }}
        Tutorial
      {{ else if eq .Section "overview" }}
        Overview
      {{ else if eq .Section "cli" }}
        CLI Reference
        {{ else if eq .Section "databases" }}
        Databases
      {{ else }}
        {{ .Section | humanize }} Documentation
      {{ end }}
    </a>
  </h3>
  <ul>
    {{ range .FirstSection.Pages }}
      {{ if .IsPage }}
        <li class="{{ if eq .Title $currentNode.Title }}active{{ end }}">
          <a href="{{ .Permalink | relURL }}">
            {{ if .Params.linktitle }}
              {{ .Params.linktitle }}
            {{ else }}
              {{ .Title }}
            {{ end }}
          </a>
        </li>
      {{ else }}
        <li class="is-parent {{ if eq .Title $currentNode.Title }}active{{ end }}">
          <a href="{{ or .Params.redirect .Permalink }}">
            {{ if .Params.linktitle }}
              {{ .Params.linktitle }}
            {{ else }}
              {{ .Title }}
            {{ end }}
          </a>
        </li>
        {{ if $currentNode.IsDescendant . }}
          {{ range .Pages }}
            <li class="is-descendant {{ if eq .Title $currentNode.Title }}active{{ end }}">
              <a href="{{ .Permalink | relURL }}">
                {{ if .Params.linktitle }}
                  {{ .Params.linktitle }}
                {{ else }}
                  {{ .Title }}
                {{ end }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</div>
