<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <div class="col-8" style="padding-top: 12px">
            <a href="https://twitter.com/schemahero" style="text-decoration: none;">
              <i class="fa fa-twitter"></i> Twitter
            </a>
            &nbsp;
            <a href="https://kubernetes.slack.com/messages/schemahero" style="text-decoration: none;">
              <i class="fa fa-slack"></i> Slack
            </a>
            &nbsp;
            <a href="http://github.com/schemahero/schemahero" style="text-decoration: none;">
              <i class="fa fa-github"></i> GitHub
            </a>
          </div>
          <div class="col-4" style="text-align: right">
            <img src="/images/schemahero-small-white.svg" style="height: 40px" />
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 20px">
      <div class="col-12 sub-footer-inner" style="text-align: right">
        &copy;2020 SchemaHero Authors.&nbsp;&nbsp;<a href="https://replicated.com">A Replicated project.</a>
      </div>
    </div>
  </div>
</div>

