<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>SchemaHero: Declarative Schema Management for Kubernetes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
        <a class="logo" href="index.html">SchemaHero</a>
				<nav>
					<a href="/tutorial">Docs & Getting Started</a>
				</nav>
			</header>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Declarative Schema Management</h2>
            <p>Manage database schemas in Kubernetes as declarative YAML, orchestrated by the SchemaHero Operator.</p>
            <p>To get started, <a href="/background/declarative-schema-management/">read the paper</a> or <a href="/how-to-use/">dig into the docs</a>.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Create tables</h3>
								</header>
								<p>Created and edit tables by deploying updated YAML.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Continuously rebased</h3>
								</header>
								<p>Simply deploy the desired state of the database, SchemaHero will calculate and apply changes to deploy.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Change control</h3>
								</header>
								<p>SchemaHero makes it easy to enable schema reviews and continuous delivery.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3><a href="/advanced/enforcing-policies/">Policy enforcement</a></h3>
								</header>
								<p>Use tools popular tools such as Open Policy Agent to start enforcing policies on your schemas.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3><a href="/background">Background</a></h3>
								</header>
								<p>Read about why declarative schema management is good, and compare the idea to other methods.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3><a href="/databases">Database Support</a></h3>
								</header>
								<p>Check out all of the databases that SchemaHero supports.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Read more</h2>
					<p>To understand why <a href="/background/declarative-schema-management">Declarative Schema Management</a> is an improvement over existing tools, try SchemaHero.</p>
				</div>
			</section>

		<!-- Testimonials -->
			<!-- <section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Faucibus consequat lorem</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section> -->

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>About Replicated</h3>
							<p>
                <a href="https://replicated.com">Replicated</a> is a platform that enables software vendors to ship modern on-prem, installable versions of an application.
              </p>
						</section>
						<section>
							<h4>Other Replicated Projects</h4>
							<ul class="alt">
								<li><a href="https://github.com/replicatedhq/ship">Replicated Ship</a></li>
								<li><a href="https://ttl.sh">ttl.sh</a></li>
							</ul>
						</section>
						<section>
							<h4>Get Involved</h4>
							<ul class="plain">
								<li><a href="https://github.com/schemahero"><i class="icon fa-github">&nbsp;</i>GitHub</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Replicated, Inc.
					</div>
				</div>
      </footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>
