{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ if isset .Params "redirect" }}
<!DOCTYPE html><html>
    <head>
        <title>{{ .Params.redirect | relURL }}</title>
        <link rel="canonical" href="{{ .Params.redirect | relURL }}"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="refresh" content="0; url={{ .Params.redirect }}" />
    </head>
</html>
{{else}}

<div class="strip">
  <div class="container pt-2 pb-4">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
{{ end }}
